
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>{% block title %}Swift Restaurant{% endblock %}</title>


  
    <link rel="stylesheet" href=" {{asset('css/kube.css')}}">
    <link rel="stylesheet" href=" {{asset('css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href=" {{asset('css/style.css')}}">
    <link rel="stylesheet" href=" {{asset('css/swipebox.css')}}">

    <script src="https://kit.fontawesome.com/01c24fcdad.js" crossorigin="anonymous"></script>

    {% block js %}{% endblock %}



</head>

<body class="vincent_home3">
   
  {# {% include "common/navbar.html.twig" %} #}

  {% block navbar %}
  {% include "common/navbar.html.twig" %}
  {% endblock %}
  {% block content %}
  {% endblock %}
    
    <script src="{{asset('js/jquery-3.2.1.min.js')}}"></script>
    <script src="{{asset('js/jquery.data-parallax.min.js')}}"></script>
    <script src="{{asset('js/owl.carousel.min.js')}}"></script>
    <script src="{{asset('js/kube.js')}}"></script>
    <script src="{{asset('js/jquery.swipebox.js')}}"></script>
    <script src="{{asset('js/index.js')}}"></script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>

{# $(document).ready(function (){
   $('.add_to_cart_btn').click(function (e){
       e.preventDefault;

       var product_id=$(this).closest('.product_data').find('.product_id').val();
       var product_qty=$(this).closest('.product_data').find('.product_qty').val();

       console.log()

   })	

}) #}

// Add to Cart

function addToCart() {
    var product_id = $('#product_id').val();
    var product_qty=$('#product_qty').val();
    var table_no=$('#table_no').val();
    var extra_cheese=$('#cheese option:selected').text();
    var extra_onion=$('#onion option:selected').text();

    console.log(product_id,product_qty, extra_cheese,extra_onion);

   $.ajax({
       type: "POST",
                dataType: 'json',
                data: {
                    product_id: product_id,
                    product_qty: product_qty,
                    table_no:table_no,
                    extra_cheese: extra_cheese,
                    extra_onion: extra_onion, 
                },
               // url: "/cart/store/" + product_id + "/?table=" + table_id ,
                url: "/cart/add/" + table_no + '/' + product_id   ,

                success: function(res) {
                    console.log(res);

                    var total_price=parseFloat(res.total_price).toFixed(2); 

                    $('#cart_total_qty').text(res.total_qty);   
                    $('#cart_total_price').text(total_price);   
                    $('#cart_items').text(res.count);   


      

                  }
   })

}

// END Add to Cart




// Display dynamic price on change of qty.

$('#product_qty').change(function () {
    var qty_entered = $('#product_qty').val();

   var selling_price=$('.dynamic_price_input').val();
   {# alert(selling_price); #}

   var calculated_price = qty_entered * selling_price;

   $('.dynamic_price').text(calculated_price);
      
        });

// end dynamic price

// Qty Update.

$('.qty_update').change(function (e) {

e.preventDefault();

    // var product_qty = $('.qty_update').val();
    var product_qty = $(this).closest('.cart_page').find('.qty_update').val();
    var product_id = $(this).closest('.cart_page').find('.updated_product_id').val();
    var product_price = $(this).closest('.cart_page').find('.product_selling_price').text();
    var item_subtotal_price = $(this).closest('.cart_page').find('.item_subtotal_price').text();
    var table_no = $('.table_no_update').val();
    var $this = $(this);


    {# alert(item_subtotal_price); #}


       $.ajax({
       type: "POST",
                dataType: 'json',
                data: {
                    product_id: product_id,
                    product_qty: product_qty,
                    table_no:table_no,
                 
                },
               // url: "/cart/store/" + product_id + "/?table=" + table_id ,
                url: "/cart/update/" + table_no + '/' + product_id   ,

                success: function(res) {
                    {# console.log(res); #}

                    {# window.location.reload(); #}


                    var total_price=parseFloat(res.total_price).toFixed(2);
                    var sub_total= product_qty * product_price; 

                    $('#cart_total_qty').text(res.total_qty);   
                    $('#cart_total_price').text(total_price);   
                    $('#cart_items').text(res.count);
                    $('#cart_items').text(res.count);
                    $this.closest('.cart_page').find('.item_subtotal_price').text(sub_total);   
                    $('#total_price_cart').text(total_price);    


      

                  }
   })


    });

// END Qty Update.

 

        $('.delete-confirm').on('click', function(event) {
            event.preventDefault();
            const url = $(this).attr('href');
            swal({
                title: 'Are you sure?',
                text: 'This record and it`s details will be permanantly deleted!',
                icon: 'warning',
                buttons: ["Cancel", "Yes!"],
            }).then(function(value) {
                if (value) {
                    window.location.href = url;
                }
            });
        });



        
    </script>

</body>

</html>
