{% extends 'base.html.twig' %}

{% block title %}Menu{% endblock %}

{% block content %}



 <div class="vincent_menu1_block" style="margin-top: 10rem;">

                <div class="vincent_container">
                    <div class="container">
                        <ul class="tabs vincent_menu_tabs">
                        {% for c in categories %}
                            
                            <li><a href="#{{c.id}}">{{c.name}}</a></li>
                          
                        {% endfor %}
                          
                        </ul>

                        {% for c in categories %}
                        <div id="{{c.id}}">
                       
                            <div class="row gutters">

                            {% for d in c.dish %}
                                 <div class="col col-3">
                                    <div class="vincent_menu1_block_item">
                                        <div class="vincent_prod_list_image_cont">
                                            <div class="vincent_prod_list_image_wrapper">
                                                <div class="vincent_team_overlay"></div>
                                                <img src="{{asset('img/dish/' ~ d.image)}}" alt="">
                                                <a class="vincent_add_to_cart_button" href="product.html"></a>
                                            </div>
                                        </div>
                                        <h5><a href="{{path('dish.detail', {'dish': d.id})}}">{{d.name}}</a></h5>
                                        <p class="vincent_prod_list_text">{{d.description}}</p>
                                        {% if d.discountedPrice > 0 %}
                                        <div class="vincent_prod_list_price fw-light text-decoration-line-through text-secondary mb-1"><span>CHF</span>{{d.price}}</div>
                                        <div class="vincent_prod_list_price"><span>CHF</span>{{d.discountedPrice}}</div>

                                        {% else %}
                                        <div class="vincent_prod_list_price"><span>CHF</span>{{d.price}}</div>
                                            
                                        {% endif %}
                                        
                                        
                                    </div>
                                </div>    
                                
                            {% endfor %}
                         
                                                 

                                            




                            </div> 
                        </div>
                        {% endfor %}

                        {# <div id="first">
                            <div class="row gutters">
                                <div class="col col-3">
                                    <div class="vincent_menu1_block_item">
                                        <div class="vincent_prod_list_image_cont">
                                            <div class="vincent_prod_list_image_wrapper">
                                                <div class="vincent_team_overlay"></div>
                                                <img src="img/12-3-600x600.png" alt="">
                                                <a class="vincent_add_to_cart_button" href="product.html"></a>
                                            </div>
                                        </div>
                                        <h5><a href="product.html">Vincent</a></h5>
                                        <p class="vincent_prod_list_text">Classic marinara sauce, authentic old-<wbr>world pepperoni, all-natural Ita</p>
                                        <div class="vincent_prod_list_price"><span>$</span>2.60</div>
                                    </div>
                                </div>
                                <div class="col col-3">
                                    <div class="vincent_menu1_block_item">
                                        <div class="vincent_prod_list_image_cont">
                                            <div class="vincent_prod_list_image_wrapper">
                                                <div class="vincent_team_overlay"></div>
                                                <img src="img/11-3-600x600.png" alt="">
                                                <a class="vincent_add_to_cart_button" href="product.html"></a>
                                            </div>
                                        </div>
                                        <h5><a href="product.html">Margherita</a></h5>
                                        <p class="vincent_prod_list_text">Classic marinara sauce, authentic old-<wbr>world pepperoni, all-natural Ita</p>
                                        <div class="vincent_prod_list_price"><span>$</span>3.80</div>
                                    </div>
                                </div>
                                <div class="col col-3">
                                    <div class="vincent_menu1_block_item">
                                        <div class="vincent_prod_list_image_cont">
                                            <div class="vincent_prod_list_image_wrapper">
                                                <div class="vincent_team_overlay"></div>
                                                <img src="img/10-3-600x600.png" alt="">
                                                <a class="vincent_add_to_cart_button" href="product.html"></a>
                                            </div>
                                        </div>
                                        <h5><a href="product.html">Diablo</a></h5>
                                        <p class="vincent_prod_list_text">Classic marinara sauce, authentic old-<wbr>world pepperoni, all-natural Ita</p>
                                        <div class="vincent_prod_list_price"><span>$</span>2.90</div>
                                    </div>
                                </div>
                                <div class="col col-3">
                                    <div class="vincent_menu1_block_item">
                                        <div class="vincent_prod_list_image_cont">
                                            <div class="vincent_prod_list_image_wrapper">
                                                <div class="vincent_team_overlay"></div>
                                                <img src="img/9-3-600x600.png" alt="">
                                                <a class="vincent_add_to_cart_button" href="product.html"></a>
                                            </div>
                                        </div>
                                        <h5><a href="product.html">Venetia</a></h5>
                                        <p class="vincent_prod_list_text">Classic marinara sauce, authentic old-<wbr>world pepperoni, all-natural Ita</p>
                                        <div class="vincent_prod_list_price"><span>$</span>3.50</div>
                                    </div>
                                </div>
                                <div class="col col-3">
                                    <div class="vincent_menu1_block_item">
                                        <div class="vincent_prod_list_image_cont">
                                            <div class="vincent_prod_list_image_wrapper">
                                                <div class="vincent_team_overlay"></div>
                                                <img src="img/8-3-600x600.png" alt="">
                                                <a class="vincent_add_to_cart_button" href="product.html"></a>
                                            </div>
                                        </div>
                                        <h5><a href="product.html">Florence</a></h5>
                                        <p class="vincent_prod_list_text">Classic marinara sauce, authentic old-<wbr>world pepperoni, all-natural Ita</p>
                                        <div class="vincent_prod_list_price"><span>$</span>2.60</div>
                                    </div>
                                </div>
                                <div class="col col-3">
                                    <div class="vincent_menu1_block_item">
                                        <div class="vincent_prod_list_image_cont">
                                            <div class="vincent_prod_list_image_wrapper">
                                                <div class="vincent_team_overlay"></div>
                                                <img src="img/7-3-600x600.png" alt="">
                                                <a class="vincent_add_to_cart_button" href="product.html"></a>
                                            </div>
                                        </div>
                                        <h5><a href="product.html">Roma</a></h5>
                                        <p class="vincent_prod_list_text">Classic marinara sauce, authentic old-<wbr>world pepperoni, all-natural Ita</p>
                                        <div class="vincent_prod_list_price"><span>$</span>3.80</div>
                                    </div>
                                </div>
                                <div class="col col-3">
                                    <div class="vincent_menu1_block_item">
                                        <div class="vincent_prod_list_image_cont">
                                            <div class="vincent_prod_list_image_wrapper">
                                                <div class="vincent_team_overlay"></div>
                                                <img src="img/6-3-600x600.png" alt="">
                                                <a class="vincent_add_to_cart_button" href="product.html"></a>
                                            </div>
                                        </div>
                                        <h5><a href="product.html">Verona</a></h5>
                                        <p class="vincent_prod_list_text">Classic marinara sauce, authentic old-<wbr>world pepperoni, all-natural Ita</p>
                                        <div class="vincent_prod_list_price"><span>$</span>2.90</div>
                                    </div>
                                </div>
                                <div class="col col-3">
                                    <div class="vincent_menu1_block_item">
                                        <div class="vincent_prod_list_image_cont">
                                            <div class="vincent_prod_list_image_wrapper">
                                                <div class="vincent_team_overlay"></div>
                                                <img src="img/5-3-600x600.png" alt="">
                                                <a class="vincent_add_to_cart_button" href="product.html"></a>
                                            </div>
                                        </div>
                                        <h5><a href="product.html">Milano</a></h5>
                                        <p class="vincent_prod_list_text">Classic marinara sauce, authentic old-<wbr>world pepperoni, all-natural Ita</p>
                                        <div class="vincent_prod_list_price"><span>$</span>3.50</div>
                                    </div>
                                </div>




                            </div>
                        </div>
                        <div id="second">
                            <div class="row gutters">
                                <div class="col col-3">
                                    <div class="vincent_menu1_block_item">
                                        <div class="vincent_prod_list_image_cont">
                                            <div class="vincent_prod_list_image_wrapper">
                                                <div class="vincent_team_overlay"></div>
                                                <img src="img/deserts/12-4-600x600.png" alt="">
                                                <a class="vincent_add_to_cart_button" href="product.html"></a>
                                            </div>
                                        </div>
                                        <h5><a href="product.html">Amaretti</a></h5>
                                        <p class="vincent_prod_list_text">Classic marinara sauce, authentic old-<wbr>world pepperoni, all-natural Ita</p>
                                        <div class="vincent_prod_list_price"><span>$</span>2.60</div>
                                    </div>
                                </div>
                                <div class="col col-3">
                                    <div class="vincent_menu1_block_item">
                                        <div class="vincent_prod_list_image_cont">
                                            <div class="vincent_prod_list_image_wrapper">
                                                <div class="vincent_team_overlay"></div>
                                                <img src="img/deserts/11-4-600x600.png" alt="">
                                                <a class="vincent_add_to_cart_button" href="product.html"></a>
                                            </div>
                                        </div>
                                        <h5><a href="product.html">Bostrengo</a></h5>
                                        <p class="vincent_prod_list_text">Classic marinara sauce, authentic old-<wbr>world pepperoni, all-natural Ita</p>
                                        <div class="vincent_prod_list_price"><span>$</span>3.80</div>
                                    </div>
                                </div>
                                <div class="col col-3">
                                    <div class="vincent_menu1_block_item">
                                        <div class="vincent_prod_list_image_cont">
                                            <div class="vincent_prod_list_image_wrapper">
                                                <div class="vincent_team_overlay"></div>
                                                <img src="img/deserts/10-4-600x600.png" alt="">
                                                <a class="vincent_add_to_cart_button" href="product.html"></a>
                                            </div>
                                        </div>
                                        <h5><a href="product.html">Bigne</a></h5>
                                        <p class="vincent_prod_list_text">Classic marinara sauce, authentic old-<wbr>world pepperoni, all-natural Ita</p>
                                        <div class="vincent_prod_list_price"><span>$</span>2.90</div>
                                    </div>
                                </div>
                                <div class="col col-3">
                                    <div class="vincent_menu1_block_item">
                                        <div class="vincent_prod_list_image_cont">
                                            <div class="vincent_prod_list_image_wrapper">
                                                <div class="vincent_team_overlay"></div>
                                                <img src="img/deserts/9-4-600x600.png" alt="">
                                                <a class="vincent_add_to_cart_button" href="product.html"></a>
                                            </div>
                                        </div>
                                        <h5><a href="product.html">Budino</a></h5>
                                        <p class="vincent_prod_list_text">Classic marinara sauce, authentic old-<wbr>world pepperoni, all-natural Ita</p>
                                        <div class="vincent_prod_list_price"><span>$</span>3.50</div>
                                    </div>
                                </div>
                                <div class="col col-3">
                                    <div class="vincent_menu1_block_item">
                                        <div class="vincent_prod_list_image_cont">
                                            <div class="vincent_prod_list_image_wrapper">
                                                <div class="vincent_team_overlay"></div>
                                                <img src="img/deserts/8-4-600x600.png" alt="">
                                                <a class="vincent_add_to_cart_button" href="product.html"></a>
                                            </div>
                                        </div>
                                        <h5><a href="product.html">Budino di Ricotta</a></h5>
                                        <p class="vincent_prod_list_text">Classic marinara sauce, authentic old-<wbr>world pepperoni, all-natural Ita</p>
                                        <div class="vincent_prod_list_price"><span>$</span>2.60</div>
                                    </div>
                                </div>
                                <div class="col col-3">
                                    <div class="vincent_menu1_block_item">
                                        <div class="vincent_prod_list_image_cont">
                                            <div class="vincent_prod_list_image_wrapper">
                                                <div class="vincent_team_overlay"></div>
                                                <img src="img/deserts/7-4-600x600.png" alt="">
                                                <a class="vincent_add_to_cart_button" href="product.html"></a>
                                            </div>
                                        </div>
                                        <h5><a href="product.html">Biscotti di Avena</a></h5>
                                        <p class="vincent_prod_list_text">Classic marinara sauce, authentic old-<wbr>world pepperoni, all-natural Ita</p>
                                        <div class="vincent_prod_list_price"><span>$</span>3.80</div>
                                    </div>
                                </div>
                                <div class="col col-3">
                                    <div class="vincent_menu1_block_item">
                                        <div class="vincent_prod_list_image_cont">
                                            <div class="vincent_prod_list_image_wrapper">
                                                <div class="vincent_team_overlay"></div>
                                                <img src="img/deserts/6-4-600x600.png" alt="">
                                                <a class="vincent_add_to_cart_button" href="product.html"></a>
                                            </div>
                                        </div>
                                        <h5><a href="product.html">Coviglia di Caffe</a></h5>
                                        <p class="vincent_prod_list_text">Classic marinara sauce, authentic old-<wbr>world pepperoni, all-natural Ita</p>
                                        <div class="vincent_prod_list_price"><span>$</span>2.90</div>
                                    </div>
                                </div>
                                <div class="col col-3">
                                    <div class="vincent_menu1_block_item">
                                        <div class="vincent_prod_list_image_cont">
                                            <div class="vincent_prod_list_image_wrapper">
                                                <div class="vincent_team_overlay"></div>
                                                <img src="img/deserts/5-4-600x600.png" alt="">
                                                <a class="vincent_add_to_cart_button" href="product.html"></a>
                                            </div>
                                        </div>
                                        <h5><a href="product.html">Casadinas</a></h5>
                                        <p class="vincent_prod_list_text">Classic marinara sauce, authentic old-<wbr>world pepperoni, all-natural Ita</p>
                                        <div class="vincent_prod_list_price"><span>$</span>3.50</div>
                                    </div>
                                </div>



                            </div>
                        </div>
                        <div id="third">
                            <div class="row gutters">
                                <div class="col col-3">
                                    <div class="vincent_menu1_block_item">
                                        <div class="vincent_prod_list_image_cont">
                                            <div class="vincent_prod_list_image_wrapper">
                                                <div class="vincent_team_overlay"></div>
                                                <img src="img/drinks/1-5-600x600.png" alt="">
                                                <a class="vincent_add_to_cart_button" href="product.html"></a>
                                            </div>
                                        </div>
                                        <h5><a href="product.html">Wine</a></h5>
                                        <p class="vincent_prod_list_text">Classic marinara sauce, authentic old-<wbr>world pepperoni, all-natural Ita</p>
                                        <div class="vincent_prod_list_price"><span>$</span>2.60</div>
                                    </div>
                                </div>
                                <div class="col col-3">
                                    <div class="vincent_menu1_block_item">
                                        <div class="vincent_prod_list_image_cont">
                                            <div class="vincent_prod_list_image_wrapper">
                                                <div class="vincent_team_overlay"></div>
                                                <img src="img/drinks/2-5-600x600.png" alt="">
                                                <a class="vincent_add_to_cart_button" href="product.html"></a>
                                            </div>
                                        </div>
                                        <h5><a href="product.html">Ale</a></h5>
                                        <p class="vincent_prod_list_text">Classic marinara sauce, authentic old-<wbr>world pepperoni, all-natural Ita</p>
                                        <div class="vincent_prod_list_price"><span>$</span>3.80</div>
                                    </div>
                                </div>
                                <div class="col col-3">
                                    <div class="vincent_menu1_block_item">
                                        <div class="vincent_prod_list_image_cont">
                                            <div class="vincent_prod_list_image_wrapper">
                                                <div class="vincent_team_overlay"></div>
                                                <img src="img/drinks/3-5-600x600.png" alt="">
                                                <a class="vincent_add_to_cart_button" href="product.html"></a>
                                            </div>
                                        </div>
                                        <h5><a href="product.html">Beer</a></h5>
                                        <p class="vincent_prod_list_text">Classic marinara sauce, authentic old-<wbr>world pepperoni, all-natural Ita</p>
                                        <div class="vincent_prod_list_price"><span>$</span>2.90</div>
                                    </div>
                                </div>
                                <div class="col col-3">
                                    <div class="vincent_menu1_block_item">
                                        <div class="vincent_prod_list_image_cont">
                                            <div class="vincent_prod_list_image_wrapper">
                                                <div class="vincent_team_overlay"></div>
                                                <img src="img/drinks/4-5-600x600.png" alt="">
                                                <a class="vincent_add_to_cart_button" href="product.html"></a>
                                            </div>
                                        </div>
                                        <h5><a href="product.html">Martini</a></h5>
                                        <p class="vincent_prod_list_text">Classic marinara sauce, authentic old-<wbr>world pepperoni, all-natural Ita</p>
                                        <div class="vincent_prod_list_price"><span>$</span>3.50</div>
                                    </div>
                                </div>
                                <div class="col col-3">
                                    <div class="vincent_menu1_block_item">
                                        <div class="vincent_prod_list_image_cont">
                                            <div class="vincent_prod_list_image_wrapper">
                                                <div class="vincent_team_overlay"></div>
                                                <img src="img/drinks/5-5-600x600.png" alt="">
                                                <a class="vincent_add_to_cart_button" href="product.html"></a>
                                            </div>
                                        </div>
                                        <h5><a href="product.html">Late Vegetale</a></h5>
                                        <p class="vincent_prod_list_text">Classic marinara sauce, authentic old-<wbr>world pepperoni, all-natural Ita</p>
                                        <div class="vincent_prod_list_price"><span>$</span>2.60</div>
                                    </div>
                                </div>
                                <div class="col col-3">
                                    <div class="vincent_menu1_block_item">
                                        <div class="vincent_prod_list_image_cont">
                                            <div class="vincent_prod_list_image_wrapper">
                                                <div class="vincent_team_overlay"></div>
                                                <img src="img/drinks/6-5-600x600.png" alt="">
                                                <a class="vincent_add_to_cart_button" href="product.html"></a>
                                            </div>
                                        </div>
                                        <h5><a href="product.html">Tè con limone</a></h5>
                                        <p class="vincent_prod_list_text">Classic marinara sauce, authentic old-<wbr>world pepperoni, all-natural Ita</p>
                                        <div class="vincent_prod_list_price"><span>$</span>3.80</div>
                                    </div>
                                </div>
                                <div class="col col-3">
                                    <div class="vincent_menu1_block_item">
                                        <div class="vincent_prod_list_image_cont">
                                            <div class="vincent_prod_list_image_wrapper">
                                                <div class="vincent_team_overlay"></div>
                                                <img src="img/drinks/7-5-600x600.png" alt="">
                                                <a class="vincent_add_to_cart_button" href="product.html"></a>
                                            </div>
                                        </div>
                                        <h5><a href="product.html">Frullato di frutta</a></h5>
                                        <p class="vincent_prod_list_text">Classic marinara sauce, authentic old-<wbr>world pepperoni, all-natural Ita</p>
                                        <div class="vincent_prod_list_price"><span>$</span>2.90</div>
                                    </div>
                                </div>
                                <div class="col col-3">
                                    <div class="vincent_menu1_block_item">
                                        <div class="vincent_prod_list_image_cont">
                                            <div class="vincent_prod_list_image_wrapper">
                                                <div class="vincent_team_overlay"></div>
                                                <img src="img/drinks/8-5-600x600.png" alt="">
                                                <a class="vincent_add_to_cart_button" href="product.html"></a>
                                            </div>
                                        </div>
                                        <h5><a href="product.html">Blue lagoon cocktail</a></h5>
                                        <p class="vincent_prod_list_text">Classic marinara sauce, authentic old-<wbr>world pepperoni, all-natural Ita</p>
                                        <div class="vincent_prod_list_price"><span>$</span>3.50</div>
                                    </div>
                                </div>



                            </div>
                        </div>
                        <div id="forth">
                            <div class="row gutters">
                                <div class="col col-3">
                                    <div class="vincent_menu1_block_item">
                                        <div class="vincent_prod_list_image_cont">
                                            <div class="vincent_prod_list_image_wrapper">
                                                <div class="vincent_team_overlay"></div>
                                                <img src="img/pasta/12-2-600x600.png" alt="">
                                                <a class="vincent_add_to_cart_button" href="product.html"></a>
                                            </div>
                                        </div>
                                        <h5><a href="product.html">Bucatini</a></h5>
                                        <p class="vincent_prod_list_text">Classic marinara sauce, authentic old-<wbr>world pepperoni, all-natural Ita</p>
                                        <div class="vincent_prod_list_price"><span>$</span>2.60</div>
                                    </div>
                                </div>
                                <div class="col col-3">
                                    <div class="vincent_menu1_block_item">
                                        <div class="vincent_prod_list_image_cont">
                                            <div class="vincent_prod_list_image_wrapper">
                                                <div class="vincent_team_overlay"></div>
                                                <img src="img/pasta/11-2-600x600.png" alt="">
                                                <a class="vincent_add_to_cart_button" href="product.html"></a>
                                            </div>
                                        </div>
                                        <h5><a href="product.html">Cannelloni</a></h5>
                                        <p class="vincent_prod_list_text">Classic marinara sauce, authentic old-<wbr>world pepperoni, all-natural Ita</p>
                                        <div class="vincent_prod_list_price"><span>$</span>3.80</div>
                                    </div>
                                </div>
                                <div class="col col-3">
                                    <div class="vincent_menu1_block_item">
                                        <div class="vincent_prod_list_image_cont">
                                            <div class="vincent_prod_list_image_wrapper">
                                                <div class="vincent_team_overlay"></div>
                                                <img src="img/pasta/10-2-600x600.png" alt="">
                                                <a class="vincent_add_to_cart_button" href="product.html"></a>
                                            </div>
                                        </div>
                                        <h5><a href="product.html">Casunziei</a></h5>
                                        <p class="vincent_prod_list_text">Classic marinara sauce, authentic old-<wbr>world pepperoni, all-natural Ita</p>
                                        <div class="vincent_prod_list_price"><span>$</span>2.90</div>
                                    </div>
                                </div>
                                <div class="col col-3">
                                    <div class="vincent_menu1_block_item">
                                        <div class="vincent_prod_list_image_cont">
                                            <div class="vincent_prod_list_image_wrapper">
                                                <div class="vincent_team_overlay"></div>
                                                <img src="img/pasta/9-2-600x600.png" alt="">
                                                <a class="vincent_add_to_cart_button" href="product.html"></a>
                                            </div>
                                        </div>
                                        <h5><a href="product.html">Farfalle</a></h5>
                                        <p class="vincent_prod_list_text">Classic marinara sauce, authentic old-<wbr>world pepperoni, all-natural Ita</p>
                                        <div class="vincent_prod_list_price"><span>$</span>3.50</div>
                                    </div>
                                </div>
                                <div class="col col-3">
                                    <div class="vincent_menu1_block_item">
                                        <div class="vincent_prod_list_image_cont">
                                            <div class="vincent_prod_list_image_wrapper">
                                                <div class="vincent_team_overlay"></div>
                                                <img src="img/pasta/8-2-600x600.png" alt="">
                                                <a class="vincent_add_to_cart_button" href="product.html"></a>
                                            </div>
                                        </div>
                                        <h5><a href="product.html">Fusilli</a></h5>
                                        <p class="vincent_prod_list_text">Classic marinara sauce, authentic old-<wbr>world pepperoni, all-natural Ita</p>
                                        <div class="vincent_prod_list_price"><span>$</span>2.60</div>
                                    </div>
                                </div>
                                <div class="col col-3">
                                    <div class="vincent_menu1_block_item">
                                        <div class="vincent_prod_list_image_cont">
                                            <div class="vincent_prod_list_image_wrapper">
                                                <div class="vincent_team_overlay"></div>
                                                <img src="img/pasta/7-2-600x600.png" alt="">
                                                <a class="vincent_add_to_cart_button" href="product.html"></a>
                                            </div>
                                        </div>
                                        <h5><a href="product.html">Gnocchi</a></h5>
                                        <p class="vincent_prod_list_text">Classic marinara sauce, authentic old-<wbr>world pepperoni, all-natural Ita</p>
                                        <div class="vincent_prod_list_price"><span>$</span>3.80</div>
                                    </div>
                                </div>
                                <div class="col col-3">
                                    <div class="vincent_menu1_block_item">
                                        <div class="vincent_prod_list_image_cont">
                                            <div class="vincent_prod_list_image_wrapper">
                                                <div class="vincent_team_overlay"></div>
                                                <img src="img/pasta/6-2-600x600.png" alt="">
                                                <a class="vincent_add_to_cart_button" href="product.html"></a>
                                            </div>
                                        </div>
                                        <h5><a href="product.html">Culingionis</a></h5>
                                        <p class="vincent_prod_list_text">Classic marinara sauce, authentic old-<wbr>world pepperoni, all-natural Ita</p>
                                        <div class="vincent_prod_list_price"><span>$</span>2.90</div>
                                    </div>
                                </div>
                                <div class="col col-3">
                                    <div class="vincent_menu1_block_item">
                                        <div class="vincent_prod_list_image_cont">
                                            <div class="vincent_prod_list_image_wrapper">
                                                <div class="vincent_team_overlay"></div>
                                                <img src="img/pasta/5-2-600x600.png" alt="">
                                                <a class="vincent_add_to_cart_button" href="product.html"></a>
                                            </div>
                                        </div>
                                        <h5><a href="product.html">Fettuccine</a></h5>
                                        <p class="vincent_prod_list_text">Classic marinara sauce, authentic old-<wbr>world pepperoni, all-natural Ita</p>
                                        <div class="vincent_prod_list_price"><span>$</span>3.50</div>
                                    </div>
                                </div>




                            </div>
                        </div>
                        <div id="fifth">
                            <div class="row gutters">
                                <div class="col col-3">
                                    <div class="vincent_menu1_block_item">
                                        <div class="vincent_prod_list_image_cont">
                                            <div class="vincent_prod_list_image_wrapper">
                                                <div class="vincent_team_overlay"></div>
                                                <img src="img/11-600x600.png" alt="">
                                                <a class="vincent_add_to_cart_button" href="product.html"></a>
                                            </div>
                                        </div>
                                        <h5><a href="product.html">Margherita</a></h5>
                                        <p class="vincent_prod_list_text">Classic marinara sauce, authentic old-<wbr>world pepperoni, all-natural Ita</p>
                                        <div class="vincent_prod_list_price"><span>$</span>2.60</div>
                                    </div>
                                </div>
                                <div class="col col-3">
                                    <div class="vincent_menu1_block_item">
                                        <div class="vincent_prod_list_image_cont">
                                            <div class="vincent_prod_list_image_wrapper">
                                                <div class="vincent_team_overlay"></div>
                                                <img src="img/10-600x600.png" alt="">
                                                <a class="vincent_add_to_cart_button" href="product.html"></a>
                                            </div>
                                        </div>
                                        <h5><a href="product.html">Vincent</a></h5>
                                        <p class="vincent_prod_list_text">Classic marinara sauce, authentic old-<wbr>world pepperoni, all-natural Ita</p>
                                        <div class="vincent_prod_list_price"><span>$</span>2.00 - <span>$</span>12.00</div>
                                    </div>
                                </div>
                                <div class="col col-3">
                                    <div class="vincent_menu1_block_item">
                                        <div class="vincent_prod_list_image_cont">
                                            <div class="vincent_prod_list_image_wrapper">
                                                <div class="vincent_team_overlay"></div>
                                                <img src="img/2-600x600.png" alt="">
                                                <a class="vincent_add_to_cart_button" href="product.html"></a>
                                            </div>
                                        </div>
                                        <h5><a href="product.html">Pepperoni</a></h5>
                                        <p class="vincent_prod_list_text">Classic marinara sauce, authentic old-<wbr>world pepperoni, all-natural Ita</p>
                                        <div class="vincent_prod_list_price"><span>$</span>2.90</div>
                                    </div>
                                </div>
                                <div class="col col-3">
                                    <div class="vincent_menu1_block_item">
                                        <div class="vincent_prod_list_image_cont">
                                            <div class="vincent_prod_list_image_wrapper">
                                                <div class="vincent_team_overlay"></div>
                                                <img src="img/6-600x600.png" alt="">
                                                <a class="vincent_add_to_cart_button" href="product.html"></a>
                                            </div>
                                        </div>
                                        <h5><a href="product.html">Diablo</a></h5>
                                        <p class="vincent_prod_list_text">Classic marinara sauce, authentic old-<wbr>world pepperoni, all-natural Ita</p>
                                        <div class="vincent_prod_list_price"><span>$</span>3.50</div>
                                    </div>
                                </div>
                                <div class="col col-3">
                                    <div class="vincent_menu1_block_item">
                                        <div class="vincent_prod_list_image_cont">
                                            <div class="vincent_prod_list_image_wrapper">
                                                <div class="vincent_team_overlay"></div>
                                                <img src="img/8-600x600.png" alt="">
                                                <a class="vincent_add_to_cart_button" href="product.html"></a>
                                            </div>
                                        </div>
                                        <h5><a href="product.html">Carbonara</a></h5>
                                        <p class="vincent_prod_list_text">Classic marinara sauce, authentic old-<wbr>world pepperoni, all-natural Ita</p>
                                        <div class="vincent_prod_list_price"><span>$</span>3.80</div>
                                    </div>
                                </div>
                                <div class="col col-3">
                                    <div class="vincent_menu1_block_item">
                                        <div class="vincent_prod_list_image_cont">
                                            <div class="vincent_prod_list_image_wrapper">
                                                <div class="vincent_team_overlay"></div>
                                                <img src="img/4-600x600.png" alt="">
                                                <a class="vincent_add_to_cart_button" href="product.html"></a>
                                            </div>
                                        </div>
                                        <h5><a href="product.html">Capricciosa</a></h5>
                                        <p class="vincent_prod_list_text">Classic marinara sauce, authentic old-<wbr>world pepperoni, all-natural Ita</p>
                                        <div class="vincent_prod_list_price"><span>$</span>2.90</div>
                                    </div>
                                </div>
                                <div class="col col-3">
                                    <div class="vincent_menu1_block_item">
                                        <div class="vincent_prod_list_image_cont">
                                            <div class="vincent_prod_list_image_wrapper">
                                                <div class="vincent_team_overlay"></div>
                                                <img src="img/7-600x600.png" alt="">
                                                <a class="vincent_add_to_cart_button" href="product.html"></a>
                                            </div>
                                        </div>
                                        <h5><a href="product.html">Prosciutto</a></h5>
                                        <p class="vincent_prod_list_text">Classic marinara sauce, authentic old-<wbr>world pepperoni, all-natural Ita</p>
                                        <div class="vincent_prod_list_price"><span>$</span>3.50</div>
                                    </div>
                                </div>
                                <div class="col col-3">
                                    <div class="vincent_menu1_block_item">
                                        <div class="vincent_prod_list_image_cont">
                                            <div class="vincent_prod_list_image_wrapper">
                                                <div class="vincent_team_overlay"></div>
                                                <img src="img/9-600x600.png" alt="">
                                                <a class="vincent_add_to_cart_button" href="product.html"></a>
                                            </div>
                                        </div>
                                        <h5><a href="product.html">Saporita</a></h5>
                                        <p class="vincent_prod_list_text">Classic marinara sauce, authentic old-<wbr>world pepperoni, all-natural Ita</p>
                                        <div class="vincent_prod_list_price"><span>$</span>2.60</div>
                                    </div>
                                </div>




                            </div>
                        </div>
                        <div id="sixth">
                            <div class="row gutters">
                                <div class="col col-3">
                                    <div class="vincent_menu1_block_item">
                                        <div class="vincent_prod_list_image_cont">
                                            <div class="vincent_prod_list_image_wrapper">
                                                <div class="vincent_team_overlay"></div>
                                                <img src="img/salads/12-1-600x600.png" alt="">
                                                <a class="vincent_add_to_cart_button" href="product.html"></a>
                                            </div>
                                        </div>
                                        <h5><a href="product.html">Insalata ai cipollotti</a></h5>
                                        <p class="vincent_prod_list_text">Classic marinara sauce, authentic old-<wbr>world pepperoni, all-natural Ita</p>
                                        <div class="vincent_prod_list_price"><span>$</span>2.60</div>
                                    </div>
                                </div>
                                <div class="col col-3">
                                    <div class="vincent_menu1_block_item">
                                        <div class="vincent_prod_list_image_cont">
                                            <div class="vincent_prod_list_image_wrapper">
                                                <div class="vincent_team_overlay"></div>
                                                <img src="img/salads/3-1-600x600.png" alt="">
                                                <a class="vincent_add_to_cart_button" href="product.html"></a>
                                            </div>
                                        </div>
                                        <h5><a href="product.html">Caesar</a></h5>
                                        <p class="vincent_prod_list_text">Classic marinara sauce, authentic old-<wbr>world pepperoni, all-natural Ita</p>
                                        <div class="vincent_prod_list_price"><span>$</span>3.80</div>
                                    </div>
                                </div>
                                <div class="col col-3">
                                    <div class="vincent_menu1_block_item">
                                        <div class="vincent_prod_list_image_cont">
                                            <div class="vincent_prod_list_image_wrapper">
                                                <div class="vincent_team_overlay"></div>
                                                <img src="img/salads/10-1-600x600.png" alt="">
                                                <a class="vincent_add_to_cart_button" href="product.html"></a>
                                            </div>
                                        </div>
                                        <h5><a href="product.html">Insalata di carciofi</a></h5>
                                        <p class="vincent_prod_list_text">Classic marinara sauce, authentic old-<wbr>world pepperoni, all-natural Ita</p>
                                        <div class="vincent_prod_list_price"><span>$</span>2.90</div>
                                    </div>
                                </div>
                                <div class="col col-3">
                                    <div class="vincent_menu1_block_item">
                                        <div class="vincent_prod_list_image_cont">
                                            <div class="vincent_prod_list_image_wrapper">
                                                <div class="vincent_team_overlay"></div>
                                                <img src="img/salads/11-1-600x600.png" alt="">
                                                <a class="vincent_add_to_cart_button" href="product.html"></a>
                                            </div>
                                        </div>
                                        <h5><a href="product.html">Insalata di riso</a></h5>
                                        <p class="vincent_prod_list_text">Classic marinara sauce, authentic old-<wbr>world pepperoni, all-natural Ita</p>
                                        <div class="vincent_prod_list_price"><span>$</span>3.50</div>
                                    </div>
                                </div>
                                <div class="col col-3">
                                    <div class="vincent_menu1_block_item">
                                        <div class="vincent_prod_list_image_cont">
                                            <div class="vincent_prod_list_image_wrapper">
                                                <div class="vincent_team_overlay"></div>
                                                <img src="img/salads/9-1-600x600.png" alt="">
                                                <a class="vincent_add_to_cart_button" href="product.html"></a>
                                            </div>
                                        </div>
                                        <h5><a href="product.html">Insalata mari e monti</a></h5>
                                        <p class="vincent_prod_list_text">Classic marinara sauce, authentic old-<wbr>world pepperoni, all-natural Ita</p>
                                        <div class="vincent_prod_list_price"><span>$</span>2.60</div>
                                    </div>
                                </div>
                                <div class="col col-3">
                                    <div class="vincent_menu1_block_item">
                                        <div class="vincent_prod_list_image_cont">
                                            <div class="vincent_prod_list_image_wrapper">
                                                <div class="vincent_team_overlay"></div>
                                                <img src="img/salads/8-1-600x600.png" alt="">
                                                <a class="vincent_add_to_cart_button" href="product.html"></a>
                                            </div>
                                        </div>
                                        <h5><a href="product.html">Panzanella</a></h5>
                                        <p class="vincent_prod_list_text">Classic marinara sauce, authentic old-<wbr>world pepperoni, all-natural Ita</p>
                                        <div class="vincent_prod_list_price"><span>$</span>3.80</div>
                                    </div>
                                </div>
                                <div class="col col-3">
                                    <div class="vincent_menu1_block_item">
                                        <div class="vincent_prod_list_image_cont">
                                            <div class="vincent_prod_list_image_wrapper">
                                                <div class="vincent_team_overlay"></div>
                                                <img src="img/salads/7-1-600x600.png" alt="">
                                                <a class="vincent_add_to_cart_button" href="product.html"></a>
                                            </div>
                                        </div>
                                        <h5><a href="product.html">Insalata mista</a></h5>
                                        <p class="vincent_prod_list_text">Classic marinara sauce, authentic old-<wbr>world pepperoni, all-natural Ita</p>
                                        <div class="vincent_prod_list_price"><span>$</span>2.90</div>
                                    </div>
                                </div>
                                <div class="col col-3">
                                    <div class="vincent_menu1_block_item">
                                        <div class="vincent_prod_list_image_cont">
                                            <div class="vincent_prod_list_image_wrapper">
                                                <div class="vincent_team_overlay"></div>
                                                <img src="img/salads/6-1-600x600.png" alt="">
                                                <a class="vincent_add_to_cart_button" href="product.html"></a>
                                            </div>
                                        </div>
                                        <h5><a href="product.html">Insalata caprese</a></h5>
                                        <p class="vincent_prod_list_text">Classic marinara sauce, authentic old-<wbr>world pepperoni, all-natural Ita</p>
                                        <div class="vincent_prod_list_price"><span>$</span>3.50</div>
                                    </div>
                                </div>




                            </div>
                        </div> #}
                    </div>
                </div>
            </div>
{% endblock %}
